@import "bootstrap/scss/bootstrap";
@import "./scryfallSymbols.css";

.cardOverlap {
  margin-left: -100px;
}
.cardWrapper {
  overflow: visible; // Necessary for proper display of img borders
  margin: 0 0.25rem;
}

.cardContainer.tapped {
  width: 204px;
  height: 204px;
}
.cardContainer.tapped img {
  transform: rotate(90deg) translate(-100%, 0);
  transform-origin: 0 100%;
}

.cardContainer.attacking img {
  border: 5px solid orange;
}
.cardContainer.blocking img {
  border: 5px solid dodgerblue;
}

.position-top {
  top: 0;
}
.position-bottom {
  bottom: 0;
}

canvas.overlay {
  pointer-events: none;
  z-index: 1;
}
