@import "bootstrap/scss/bootstrap";
@import "./scryfallSymbols.css";

.cardOverlap {
  margin-left: -100px;
}
.cardWrapper {
  overflow: hidden;
  margin: 0 0.25rem;
}

.cardContainer.tapped {
  width: 204px;
  height: 204px;
}
.cardContainer.tapped img {
  transform: rotate(90deg) translate(-100%, 0);
  transform-origin: 0 100%;
}

.cardContainer.attacking {
  border: 5px solid orange;
}

.position-top {
  top: 0;
}
.position-bottom {
  bottom: 0;
}
