@import "bootstrap/scss/bootstrap";
@import "./scryfallSymbols.css";

.cardOverlap {
  margin-left: -100px;
}
.cardWrapper {
  overflow: visible; // Necessary for proper display of img borders
  margin: 0 0.25rem;
}

.cardContainer.tapped {
  width: 204px;
  height: 204px;
}
.cardContainer.tapped img {
  transform: rotate(90deg) translate(-100%, 0);
  transform-origin: 0 100%;
}

.cardContainer.attacking img {
  border: 5px solid orange;
}
.cardContainer.blocking img {
  border: 5px solid dodgerblue;
}

.cardContainer .damage {
  bottom: 5px;
  right: 5px;
  background: red;
  padding: 0 5px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.position-top {
  top: 0;
}
.position-bottom {
  bottom: 0;
}

canvas.overlay {
  pointer-events: none;
  z-index: 1;
}

.modal-dialog {
  max-width: 50%;
}

.justify-content-center {
  justify-content: safe center !important;
}

.non-selectable {
  padding: 2px;
}
.selectable {
  border:2px solid #247bc2;
  border-radius:7px;
  box-shadow: 0 0 20px #247bc2;
}
.selected {
  border:2px solid lawngreen;
  border-radius:7px;
  box-shadow: 0 0 20px lawngreen;
}
