.zoneWithCount {
  position: relative;
}

.library {
  height: 113px;
  width: 129px;
  overflow: hidden;
}

.library img {
  height: 113px;
  width: 129px;
}

.zoneCount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin zoneOutline($imageUrl) {
  height: 113px;
  width: 129px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url($imageUrl);
  background-repeat: no-repeat;
  background-position: center;
}

.graveyardOutline {
  @include zoneOutline('../img/graveyard.png')
}

.exileOutline {
  @include zoneOutline('../img/exile.png')
}
