.zoneContainer {
  display: flex;
  flex-direction: row;
}

.zoneLabel {
  writing-mode: vertical-lr;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.zoneWithCount {
  position: relative;
}

@mixin cardSize {
  height: 109px;
  width: 125px;
}

.library {
  @include cardSize;
  overflow: hidden;
}

.library img {
  @include cardSize;
}

.zoneCount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin zoneOutline($imageUrl) {
  @include cardSize;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url($imageUrl);
  background-repeat: no-repeat;
  background-position: center;
}

.graveyardOutline {
  @include zoneOutline('../img/graveyard.png')
}

.exileOutline {
  @include zoneOutline('../img/exile.png')
}
